.overlay {
  fill: none;
  pointer-events: all;
}
table.svg-table {
  border-spacing: 0;
  border-collapse: collapse;
  border: 0;
  width: 100%;
}
table.svg-table td {
  padding: 0;
  margin: 0;
  border: 0;
}
table.svg-table tr {
  height: 100%;
}
#svg-container {
  /*background-color: cyan;*/
}
#legend {
  /*background-color: lime;*/
  width: 300px;
}
.color-pic {
  width: 15px;
  height: 15px;
}


#info-box {
  border: 1px black double;
  background-color: #DDDDDD;
  /* display: inline; */
  width: 400px;
  height: 250px;
  float: right;
  z-index: 100;
  position: absolute;
  filter: alpha(opacity=30);
  opacity: 0.3;

}

.tweet-field-name {
  font-weight: bold;
  text-align: center;
  background-color: #DDDDDD;
}
.tweet-color-pic {
  height: 20px;
  width: 100%;
}