hr {
  margin-top: 10px;
  margin-bottom:10px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.clicked{
  stroke-width:8;
  stroke:#FF0000 ;
}

table.svg-table {
  border-spacing: 0;
  border-collapse: collapse;
  border: 0;
  width: 100%;
}
table.svg-table td {
  padding: 0;
  margin: 0;
  border: 0;
}
table.svg-table tr {
  height: 100%;
}
.table-condensed {
  width: 95%;
}
#svg-container {
  background-color: #061B2E;
}

#legend {
  background-color: #999DA5;
  width: 300px;
  height:954px;
}

table.svg-table td {
  padding: 10px 10px 10px 10px;
}

#legend>div {
 overflow-y: scroll; 
 height: 954px;
}

.color-pic {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  float: left;
  padding-left: 5px; 
}


#info-box {
  border: 1px black double;
  background-color: #DDDDDD;
  /* display: inline; */
  width: 400px;
  height: 250px;
  float: right;
  z-index: 100;
  position: absolute;
  filter: alpha(opacity=30);
  opacity: 0.3;

}

.tweet-field-name {
  font-weight: bold;
  text-align: center;
  /*color: #FFFFFF;*/
  background-color: white;
}
.tweet-color-pic {
  height: 20px;
  width: 100%;
}
#svg-description h4{
  color: white;
}
.navbar-form {
  padding-left: 0;
}
.navbar-form .form-control{
  width: 100%;
}
table.inner-subtable {
  width: 100%;
  text-align: center;
}
.table>tbody>tr>td{
  border-top: 0px; 
  padding-left: 0px;
  padding-right: 0px;
}
.inner-subtable>tbody>tr>td{
  padding-left: 5px;
  padding-right: 5px;
}

div.top-users > table {
  display: none;
}