<!DOCTYPE html>
<html ng-app>

<head>
  <meta charset="utf-8">
  <script src="js/d3.v3.min.js"></script>
  <script src="js/jquery.min.js"></script>
  <!--  <script src="js/bootstrap.min.js"></script> -->
  <script src="js/angular.min.js"></script>
  <script src="js/ui.js"></script>
  <script src="js/nbody.js"></script>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/gui.css" rel="stylesheet">
  <script>
    $(document).ready(function() { return setup_nbody("data/_3_issues_fsq_nbody_output.json", "data/groups_coloring.json", 1); });
  </script>
</head>

<body>
   <table class="svg-table">
    <tr>
      <td id="svg-container"></td>
      <td id="legend" ng-controller='InfoCtrl'>
        <div>
        <div id="search">
          <form class="navbar-form" role="search" name='searchForm' ng-submit="do_search()">
            <div class="input-group">
              <input type="text" class="form-control" id="search_term" placeholder="Wait, loading..." ng-model="search_term">
              <div class="input-group-btn">
                <input class="btn btn-primary" type="submit" value="do">
              </div>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="" ng-model="or_and">
                <span ng-if="or_and">
                AND | <i>uncheck to use "OR"</i>
               </span>
               <span ng-if="!or_and">
                OR | <i>check to use "AND"</i>
               </span>
              </label>
            </div>
            <hr />
            <div class="input-group">
              <label>Color picture by: </label>
              <select ng-model="color_map_selection" ng-change="update_color_map()" class="form-control">
                <option ng-selected="true" value="data/groups_coloring.json">topics</option>
                <option value="data/_3_issues_coloring_map.json">issues</option>
              </select>
            </div>
          </form>
          <div id='selected-elements'>
          </div>
        </div>
        <div id="svg-detaild">
        </div>
        <hr />
        <div id="svg-description">
          <h4>Nbody simulation result</h4>
          <p>Each circle on the picture corresponds to a tweet. Proximity between tweets calculated based on concepts in them.</p>
          <p><b>Zoom</b>- use mouse wheel</p>
          <p><b>Pan</b>- drag sing mouse</p>
        </div>
      </div>
      </td>
    </tr>
  </table>
</body>

</html>
